<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet"  href="{% static '/spam/aboutus.css' %}">
    <link rel="stylesheet" href="{% static '/spam/bootstrap.min.css' %}">
    <title>About us</title>
</head>
<body>
    <section>
        <h1 style="color: white;">This is a final year project carried out by</h1>
        <div class="cent">
        <h3 style="color: blue;"> Deepak S [Rajalakshmi Engineering College]</h3>
        <h3 style="color: blue;">Narendran R [Rajalakshmi Engineering College]</h3>
    </div>
    </section>
  
</body>
</html>